<h1>Sensores de Temperatura</h1>
<div>O projeto dos sensores de temperatura surgiu para automatizar o processo de controle de temperatura nos prédios da CI&T Campinas. Hoje a medição diária da temperatura é feita manualmente pela mesma pessoa, que percorre todos os prédios e faz a leitura dos termômetros espalhados pelos prédios. Além disso, sempre que existe uma reclamação sobre temperatura o pessoal tem que conferir a temperatura manualmente. Isso leva tempo.</div>
<img src="images/sombra.jpg" alt="Passarinhos na sombra">
<img src="images/gelo.jpg" alt="Muito gelado!">
<h2>A temperatura na CI&T</h2>
<div>A temperatura dentro dos prédios da CI&T tem que ficar entre 23 e 25 graus, segundo uma norma que seguimos. Essa temperatura é checada diariamente como foi dito acima e uma auditoria periódica é feita, onde temos que mostrar os valores aferidos diariamente. Teremos um servidor com o log dessas temperaturas e também um serviço para consulta do pessoal do CS utilizar. </div>
<h2>Equipe</h2>
<img src="images/ccunha.jpg" alt="Kadu">
<img src="images/francisrs.jpg" alt="Francis">
<img src="images/hmamede.jpg" alt="Helder">
<img src="images/jpompei.jpg" alt="Pompei">
<img src="images/prodrigo.jpg" alt="Pedro">
<img src="images/varantes.jpg" alt="Vinícius">
<img src="images/wilsonjo.jpg" alt="Wilson">
